.masthead {
  background-image: url('../public/assets/backg.png');
  /* Replace with your image path */
  background-size: cover;
  /* This ensures that the image covers the entire container */
  background-position: center;
  /* This will center the image in the container */
  background-repeat: no-repeat;
  /* This prevents the image from repeating */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The two divider line in the side of the star */
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}

.masthead .divider-custom-line {
  background-color: rgb(28, 30, 32);
}

/* Left line */
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

/* Right line */
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.masthead-avatar {
  border-radius: 50%;
  height: auto;
  width: 240px;
}

.masthead-heading {
  font-size: 50px;
}

.masthead-subheading {
  font-size: 30px;
  font-weight: 500;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.text-bg-primary {
  color: #fff !important;
  background-color: #d49393 !important;
}

.resume-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#conbu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-item {
  padding: 0.5rem;
}

.portfolio-block {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 1rem;
}

.portfolio-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.portfolio-img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.portfolio-title {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #333333;
}

.portfolio-intro {
  font-size: 0.9rem;
  color: #555555;
  margin-top: 0.5rem;
}

.portfolio-link {
  display: inline-block;
  margin-top: 0.5rem;
  color: #007bff;
  text-decoration: none;
}

.portfolio-link:hover {
  text-decoration: underline;
}

.portfolio-external-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.portfolio-disclaimer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.portfolio-disclaimer h4 {
  color: #164852c0;
}

/* General reset for navbar */
.navbar {
  background-color: #fff;
  /* Set the background to white or any other light color you prefer */
  padding: 0.7rem 0;
  /* Adjust padding to give more space around the items */
}

/* Branding */
.navbar-brand {
  font-weight: bold;
  /* Make the brand name bold */
  color: #333 !important;
  /* Dark color for the text */
  font-size: 1.5rem;
  /* Increase the font size of the brand */
}

.navbar-brand span {
  color: #FF6A00;
  /* Orange color for the period to match your logo */
}

/* Navbar toggler - burger menu icon */
.navbar-toggler {
  border: none;
  /* Remove the border from the toggler */
  outline: none;
  /* Remove the outline */
}

/* Navbar links */
.navbar-nav .nav-link {
  color: #333;
  /* Set a dark color for nav links for better contrast */
  margin: 0 1rem;
  /* Add horizontal margin to space out the links */
  font-weight: 500;
  /* Make the font a little bolder */
  text-transform: uppercase;
  /* Uppercase letters for a more professional look */
}

.navbar-nav .nav-link:hover {
  color: #FF6A00;
  /* Add the orange color to the text on hover to match the brand color */
}

/* Active state for nav links */
.navbar-nav .nav-link.active {
  color: #FF6A00;
  /* Orange color to indicate the active page */
}


/* Header adjustments */
.masthead {
  position: relative;
  /* Added position relative so that navbar can be absolute relative to this */
  /* ... rest of your styles ... */
}

/* Navbar adjustments */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none !important;
  /* Assuming you want a transparent background */
  transition: top 0.3s ease, background-color 0.3s;
}
.avatar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.navbar-collapse {
  flex-grow: 0;
}

#header-container {
  justify-content: space-between;
  align-items: center;
}

.navbar-fixed {
  position: fixed;
  top: -70px;
  background-color: #fff !important;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: top 0.3s ease, background-color 0.3s;
}

body.navbar-fixed-padding {
  padding-top: 70px;
  /* Adjust this value to match the height of your navbar */
}

.navbar-placeholder {
  display: none;
  height: 70px;
  /* Same as your navbar height */
}

.skill-icon {
  font-size: 4rem;
  /* Adjust size as necessary */
  color: #ff6a00;
  /* Skill icon color */
  margin-bottom: 1rem;
}

.skill-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.skill-description {
  font-size: 0.9rem;
  color: #555;
  text-align: left;
}

.category-title {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

.skill-block {
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Icons (if you're using Font Awesome) */
.fab {
  margin-bottom: 1rem;
}

.skill-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Adjust the gap as needed */
}

#frontend-build-tools-des {
  font-size: 0.88rem;
}

/* #blockchain-protocols {
    font-size: 0.8rem;
} */

.skill-icon img {
  height: 4rem;
  /* Adjust height as needed */
  width: auto;
  margin-bottom: 1.5rem;
}

#postgresql-icon-div,
#mongodb-icon-div,
#flask-icon-div,
#django-icon-div,
#apps-icon-div {
  display: flex;
  /* This will allow you to align items inside the div */
  align-items: flex-start;
  /* This will align items to the top */
  justify-content: center;
  /* This will center the items horizontally */
  height: 4rem;
  /* Set a fixed height for the icon area */
  width: 100%;
  /* Make the icon area as wide as the column */
  margin-bottom: 1rem;
  /* Space below the icon area */
}

.storysphere-span {
  font-size: 16px;
  color: #cc4c6ec9;
  font-weight: 800;
  text-decoration: underline;
  text-align: center !important;
}

.portfolio-link {
  color: #0196e3;
}

.fa-react {
  color: #61DAFB;
}

.fa-vuejs {
  color: #4FC08D;
}

.fa-html5 {
  color: #E34F26;
}

.fa-css3-alt {
  color: #1572B6;
}

.fa-square-js,
.fa-js {
  color: #F7DF1E;
}

.fa-bootstrap {
  color: #7952B3;
}

.fa-git-alt {
  color: #F05032;
}

.skill-block .fa-github {
  color: #181717;
}

.fa-npm {
  color: #CB3837;
}

.fa-node {
  color: #339933;
}

.fa-cloud {
  color: #7FDBFF;
}

.fa-shield-halved {
  color: #BCC6CC;
}

.fa-user-shield {
  color: #003366;
}

.fa-gears {
  color: #17A2B8;
}

.fa-globe {
  color: #007bff;
}

.fa-universal-access {
  color: #FFC107;
}

.fa-tools {
  color: #fd7e14;
}

.fa-network-wired {
  color: #20C997;
}

.fa-file-contract {
  color: #007bff;
}

.fa-diagram-project {
  color: #28a745;
}

.fa-coins {
  color: #FFD700;
}

.fa-laptop-code {
  color: #007bff;
}

.fa-gamepad {
  color: #6f42c1;
}

.fa-brain {
  color: #5DADE2;
}

.fa-robot {
  color: #58D68D;
}

.fa-desktop {
  color: #9B59B6;
}

.fa-chart-area {
  color: #E74C3C;
}

.fa-sitemap {
  color: #F39C12;
}

.fa-code-branch {
  color: #27AE60;
}

.service-icon>.fa-bots {
  color: #5f6a7d;
}

.service-icon>.fa-medapps {
  color: #e6c41b;
}

.service-icon>.fa-codepen {
  color: #008080;
}

.resume-download-container {
  margin-top: 40px;
  padding-bottom: 60px;
  /* Adjust spacing at the bottom of the section */
}

.resume-download-btn {
  font-weight: 600;
  background-color: #FF8080;
  /* Primary color for the button */
  border: none;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 25px;
  /* Rounded corners for the button */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resume-download-btn:hover,
.resume-download-btn:focus {
  background-color: #d14e6b !important;
  /* Darker shade for hover state */
  color: #ffffff;
  transform: translateY(-2px);
  /* Slight lift effect on hover */
  text-decoration: none;
  /* Remove underline from the link */
}


#services {
  padding: 1rem 0;
  /* background: #f8f9fa; */
}

#home-screen {
  color: #232121;
}

.service-item {
  margin-top: 3rem;
  padding: 2rem;
  background: #ffffff;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.service-icon {
  font-size: 4rem;
  color: #ff6a00;
  margin-bottom: 1.5rem;
}

.service-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.service-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

.divider-custom-icon {
  color: #ff6a00;
}

#contact-me {
  padding-bottom: 5rem;
  /* background: #f9f9f9; */
}

#intro-123 {
  padding-bottom: 100px !important;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* Adjust the space between the items */
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-item i {
  color: #ff6a00;
  font-size: 1.5rem;
  /* Adjust icon size */
}

.contact-item div p {
  margin: 0;
  /* Remove margin from p elements */
  font-size: 0.9rem;
  color: #333;
}

.social-icons {
  margin-top: 2rem;
}

.social-icon {
  font-size: 2rem;
  color: #333;
  margin: 0 1rem;
}

.social-icon:hover {
  color: #ff6a00;
}

.masthead .divider-custom-icon {
  color: rgb(10, 84, 95);
}

.divider-custom-icon {
  color: #ff6a00;
}

.resume-reminder-text {
  font-family: 'Pacifico', cursive;
  /* A clean, professional font */
  font-size: 1rem;
  /* Appropriate text size */
  color: #944E63;
  /* Dark color for readability */
  margin-bottom: 1.5rem;
  font-weight: bold;
  /* Spacing between text and button */
  text-align: center;
  animation: pulse 2s infinite;
  /* Center align text for consistency */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}



/* Ensure the .row that contains portfolio items is a flex container */
.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
}

/* This makes each portfolio item flex and allows them to have equal height */
.portfolio-item {
  display: flex;
  flex-direction: column;
}

/* This makes the content inside each portfolio item flex and pushes the links to the bottom */
.portfolio-block {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Pushes the external links to the bottom of the card */
.portfolio-external-links {
  margin-top: auto;
  padding: 20px 0 0 0;
  /* Adjust padding as needed to ensure spacing */
}

/* Add some padding below each portfolio intro to ensure spacing is consistent */
.portfolio-intro,
.mbr-text {
  flex-grow: 1;
  /* Allows the intro text to expand and push the links down */
  padding-bottom: 20px;
  /* Adjust this value based on your content and design */
}

#intro-123 .feature.col {
  padding: 0 35px;
}


/* Adjustments for mobile screens */
@media (max-width: 991.98px) {
  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
    /* Add a bottom margin for vertical spacing on mobile */
  }
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
  .divider-custom {
    flex-direction: column;
  }

  .divider-custom-icon {
    margin: 0.5rem 0;
  }
}

/* Responsive adjustments for categories */
@media (max-width: 991.98px) {
  .category-title {
    font-size: 1.5rem;
  }
}


/* .resume-button > .btn {
    background-color: #ECE2E1;
    color: black;
    border-color: #ECE2E1;
} */