.cid-svMI8yuE9y .item-wrapper {
    position: relative;
    padding: 1rem;
    border-radius: 3rem;
    background: #f8f9fc;
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-flow: column nowrap;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for transform and box-shadow */
}

.cid-svMI8yuE9y .item-wrapper:hover {
    transform: scale(1.04);
    /* Slightly scale up the card */
    box-shadow: 0.9em 0.9em 1.8em #d2dce9, -0.75em -0.75em 1.5em #ffffff;
    /* Increase the shadow for a "lifted" effect */
}

.card-wrapper,
.item-wrapper {
    overflow: hidden;
}

.cid-svMI8yuE9y .item-content {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cid-svMI8yuE9y .item-title {
    color: #35374B;
    text-align: center;
}

.display-5 {
    font-family: 'Bellota Text', display;
    font-size: 1.7rem;
    line-height: 1.5;
}

.cid-svMI8yuE9y .mbr-text,
.cid-svMI8yuE9y .mbr-section-btn {
    color: #6c758f;
}

.display-4 {
    font-family: 'Bellota Text', display;
    font-size: 1.1rem;
    line-height: 1.5;
}

.display-5,
.display-7 {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}

.mbr-text {
    font-style: normal;
    line-height: 1.4;
}

.cid-svMI8yuE9y .mbr-link {
    color: #0196e3 !important;
    display: block;
}

.display-7 {
    font-family: 'Bellota Text', display;
    font-size: 1.2rem;
    line-height: 1.5;
}

.cid-svMI8yuE9y .item-img {
    height: 100px;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* This will ensure that the image does not overflow the container */
}

.cid-svMI8yuE9y .item-img img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.cid-svMI8yuE9y.row .item:last-child {
    margin-right: auto;
}

.cid-svMI8yuE9y.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.item.features-image {
    margin-bottom: 30px;

}

@media (min-width: 992px) {
    .cid-svMI8yuE9y.row {
        margin-left: -16px;
        margin-right: -16px;
    }
}


@media (min-width: 992px) {
    .cid-svMI8yuE9y .item.features-image {
        padding-left: 16px;
        padding-right: 16px;
    }
}